:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Sora", sans-serif;
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
  padding-left: 2em;
}

a {
  color: var(--dark);
  text-decoration: none;
}

.navbar {
  box-shadow: var(--box-shadow);
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
}

section {
  padding: 2em;
  padding-top: 4em;
  box-shadow: var(--box-shadow);
}

.landingtext {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  /* width: 50%; */
  /*  display: flex;
    align-items: center;
    justify-content: space-around; */
}

.about-text {
  padding: 2em;
  padding-left: 10em;
  padding-right: 10em;
}

.iconbox {
  font-size: 54px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
