$jsLogoColor: aqua;
$pythonLogoColor: rgb(241, 167, 7);
$csharpLogoColor: rgb(202, 80, 236);
$jqueryLogoColor: rgb(35, 195, 248);
$reactLogoColor: rgb(91, 207, 237);
$flaskLogoColor: rgb(238, 214, 84);
$revitLogoColor: rgb(95, 161, 231);
$autocadLogoColor: rgb(227, 13, 9);
$linkedLogoColor: rgb(48, 140, 231);
$githubLogoColor: rgb(255, 255, 255);
$psqlLogoColor: rgb(58, 207, 241);
$firebaseLogoColor: rgb(255, 204, 50);
$sassLogoColor: rgb(236, 121, 178);
$bootstrapColor: rgb(153, 73, 251);
$groupCountIconColor: rgb(230, 230, 230);


$navLinkGradient: linear-gradient(135deg, #f34079 40%, #fc894d);