@import "../styles/colorsVariables.scss";

#about {
  /* padding-top: 50px; */
  padding-bottom: 100px;
}

#headshot {
  margin-top: 2em;
  filter: grayscale(100%);
  border-radius: 2em;
}

.icon {
  font-size: 1.25em;
}

.js {
  color: $jsLogoColor;
}

.python {
  color: $pythonLogoColor;
}

.csharp {
  color: $csharpLogoColor;
}

.jquery {
  color: $jqueryLogoColor;
}

.react {
  color: $reactLogoColor;
}

.flask {
  color: $flaskLogoColor;
}

.revit {
  color: $revitLogoColor;
}

.autocad {
  color: $autocadLogoColor;
}

.linkedin {
  color: $linkedLogoColor;
}

.github {
  color: $githubLogoColor;
}

.PostegreSql {
  color: $psqlLogoColor;
}

.firebase {
  color: $firebaseLogoColor;
}

.sass {
  color: $sassLogoColor;
}

