.App {
  background-color: #282c34;
  /* color: rgb(12, 197, 218); */
  color: rgb(179, 196, 200);
  /* padding-left: 5rem; */
  /* padding-right: 5rem; */

}

/* height of your navbar */
html {
  scroll-padding-top: 120px;
}

.linkedin {
  position: fixed;
  top: 5em;
  left: 1em;
}

.github {
  position: fixed;
  top: 7em;
  left: 1em;
}

.resume {
  position: fixed;
  top: 9em;
  left: 1em;
  color: rgb(237, 140, 13);
}




