@import "../styles/colorsVariables.scss";
@import "../styles/mixins.scss";


#projects {
  padding-top: 100px;
  padding-bottom: 100px;
}

.group-count-icon {
  color: $groupCountIconColor;
}

.js-logo {
  @include jsStyle;
}

.python-logo {
  @include pythonStyle;
}

.react-logo {
  @include reactStyle;
}
.flask-logo {
  @include flaskStyle;
}

.psql-logo {
  @include psqlStyle;
}

.btn-outline-dark {
// .project-github {
  scale: 100%;
  &:hover {
    color: red;
  }
}

.btn-group>.btn:hover {
  color: $githubLogoColor;
  // TODO: make this a gradient
}