#about {
  /* padding-top: 50px; */
  padding-bottom: 100px;
}

#headshot {
  margin-top: 2em;
  filter: grayscale(100%);
  border-radius: 2em;
}

.icon {
  font-size: 1.25em;
}

.js {
  color: aqua;
}

.python {
  color: rgb(241, 167, 7);
}

.csharp {
  color: rgb(202, 80, 236);
}

.jquery {
  color: rgb(35, 195, 248);
}

.react {
  color: rgb(91, 207, 237);
}

.flask {
  color: rgb(238, 214, 84);
}

.revit {
  color: rgb(95, 161, 231);
}

.autocad {
  color: rgb(234, 50, 47);
}

.linkedin {
  color: rgb(48, 140, 231);
}

.github {
  color: rgb(255, 255, 255);
}

.PostegreSql {
  color: rgb(58, 207, 241);
}

.firebase {
  color: rgb(255, 204, 50);
}

.sass {
  color: rgb(236, 121, 178);
}

