.Navibar-Nav {
  color: black;
  text-decoration: none;
  padding-left: 5rem;
  padding-right: 5rem;
}

.NavLink .active {
    padding-bottom: 12px;
    border-bottom: 3px solid rgb(207, 18, 18);
}

.NavLink:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid rgb(207, 18, 18);
  color: red;
}

a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: hsl(120, 17%, 85%);
  text-decoration-thickness: from-font;
}
a:hover,
a:active {
  text-decoration-style: solid;
}

